<main class="index">
    <h2>There <%= @dogs.count == 1 ? "is" : "are" %> <%= @dogs.count %> good <%= @dogs.count == 1 ? "dog" : "dogs" %> currently registered </h2>
    <select id="sort">
            <option>Select a breed</option>
        <%= @breeds.each do |breed| %>
            <option><%= breed.breed %></option>
        <% end %>
    </select>
    <div class="grid">
    <% @dogs.each do |dog| %>
        <a href="/dogs/<%= dog.id %>" class="card">
            <h2><%= dog.name %>, <%= dog.age %></h2>
            <p><%= dog.breed %></p>
        </a>
    <% end %>
    </div>
</main>
<%= javascript_pack_tag 'custom', 'data-turbolinks-track': 'reload' %>