<main class="show">
<div class="flex nav">
    <% if @previous %>
        <%= link_to "< Previous Dog", dog_path(@previous.id) %>
    <% end %>
    <% if @next %>
        <%= link_to "Next Dog >", dog_path(@next.id) %>
    <% end %>
</div>
<div class="card">
        <% if @dog.avatar.present? %>
            <%= image_tag @dog.avatar %>
        <% end %>
        <h1><%= @dog.name %></h1>
        <p>Age: <%= @dog.age %></p>
        <p>Breed: <%= @dog.breed %></p>
        <p>Likes: <%= @dog.likes == '' || @dog.likes == nil ? "N/A" : @dog.likes %></p>
        <p>Dislikes: <%=  @dog.dislikes == '' || @dog.dislikes == nil ? "N/A" : @dog.dislikes %></p>
        <span class="added">This good dog was added to the census <%= time_ago_in_words(@dog.created_at) %> ago
    </div>
    <div class="buttons center">
        <%= link_to raw('<button class="edit">Edit</button>'), edit_dogs_path(@dog) %>
        <%= link_to raw('<button class="delete">Delete</button>'), @dog, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
</main>