<h1><%= @dog.name %></h1>
<p>Age: <%= @dog.age %></p>
<p>Breed: <%= @dog.breed %></p>
<p>Likes: <%= @dog.likes == nil ? "N/A" : @dogs.likes %></p>
<p>Dislikes: <%= @dog.dislikes == nil ? "N/A" : @dogs.dislikes %></p>